{% extends 'base.html.twig' %}
{% block title %}Hello!{% endblock %}
{% block body %}
    <a href="{{ path('page_to_check_index') }}">Add page to check</a>
    <br>
    <a href="{{ path('results_index') }}">Results</a>

{% endblock %}
